body{
	margin: 0px;
	font-family: sans-serif;
	font-size: 15px;
}
/*body header */
#body-header{
	height: 65vh;
	opacity: 0.7;
	background-image: url("C:/Users/Sanjay/Desktop/Default.jpg");	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 1.5rem;
}
/*horizontal list*/

.horizontal-list {
	list-style: none;
	padding-left: 0px;
	margin: 0px;

}
.horizontal-list li{
	display: inline-block;	
	margin: 0px 8px 0px 8px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	
}  
.nav-menu li a{
	transition: color 0.5s, border-bottom 2s;
}
.nav-menu li a:hover{
	color: red;
	border-bottom: 1px solid white;
}
/* text center*/


.text-center{

	text-align: center;
}

/* name &social icons */
#name-social{
	margin-top: 20vh;
}

#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: black;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.social-icons li a i{
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
	position: relative; 
	color: yellow;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgb(245, 12, 12);  
}
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
section:nth-child(2n){
	background-color: white;
}
section:nth-child(2n+1){
	background-color: lightgrey;
}
section:target{
	background-color: lightcyan;
}
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin: 10px auto;
	font-weight: 400;
}
.section-heading span{
	font-size: var(--section-heading-font-size);
	color: blue;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
#about{
	height: auto;
	width: 100%;
	position: relative;
	
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -20vh;

}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#my-interest ul{
	position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%;
	transform: translateX(-50%);
}
/*skill section */
.skill-display{
	width: 50%;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	/*height: 100px;
	border: 2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skill-progress{
	width: 7rem;
	height: 1.4rem;
	margin: 20px;
	background-color: lightgrey;
	border-radius: 0.8rem;
	overflow:hidden;
	box-shadow: inset 1px 1px 2px 1px lightgrey;
} 
/*.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
}*/
.skill-name{
	color: white;
	font-size: 15px;
	padding: 6px 0 10px 10px;
}
.skill-name span{
	margin: 0;
}
/*common margin classes */
.mb75px{
	margin-bottom: 25px;
}
.text-highlight{
	color: blue;
	font-weight: 600;
}
.mb-blue{
	background-color: blue;
}
.mb-orange{
	background-color: orange;
}
.mb-cyan{
	background-color: purple;
}
.mb-teal{
	background-color: teal;
}
.eighty-five{
	height: inherit;
	width: 85%;
	
}
.eighty{
	height: inherit;
	width: 70%;
}
.seventy-five{
	height: inherit;
	width: 60%;
}
/* timeline */
.timeline{
	position: relative;
	width: 75%;
	border: 2px solid black;
}
.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}
#passion-name{
	font-size: 1rem;
	color: red;
}
#passion-content{
	font-size: 0.8rem;
	color: darkcyan;
}
.timeline-divider {
    position: absolute;
    height: 90%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 5%;
    left: 50%;
    padding: 0px;
}

@media screen and (max-width: 600px){
	.timeline-divider{
		left: 8%;
	}
	.timeline-box{
		left: 12%;
		width: 80%;
	}
	.timeline-box:nth-child(2n) {
    left: 12%;
}
	.timeline{
		border: 0px;
	}
}
.timeline-box-archieve{
	position: relative;
	width: 75%;
	border: 2px solid black;
}

.timeline-traveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}
.timeline-achieve{
	 position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}
.timeline-achieve:nth-child(2n) {
    left: 53%;
}
#my-image-achieve img{
	height: 100%;
	width: 100%;
}
@media screen and (max-width: 600px){
	.timeline-achieve{
		left: 18%;
		width: 70%;
	}
	.timeline-achieve:nth-child(2n){
		left: 18%;
	}
}
#contact{
	background-color: skyblue;
	background-image: linear-gradient(60deg,blue 0%,violet 74%);
	color: white;
	padding-bottom: 40px;
}
#contact-form-container{
	align-items: center;
	width: 80%;
}
#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;
    color: white;
}

#contact .social-icons li a i: hover{
		box-shadow: 0px 0px 6px 4px gold;	
} 
